/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway';
    src: url('images/Raleway/Raleway-Italic-VariableFont_wght.ttf');
    src: url('images/Raleway/Raleway-VariableFont_wght.ttf'); 
    src: url('images/Raleway/Raleway-Regular.ttf');
    src: url('images/Raleway/Raleway-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

/* police + couleur + taille police */

body, header
{
    font-family: 'Raleway-Regular', sans-serif;
    color: #181818;  
}
h2
{
    font-weight: 900;
    font-size: 25px;
}
#logo
{
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
}

/* Navigation */

header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav ul
{
    list-style-type: none;
    display: flex;
    margin-top: 50px;
}
nav li
{
    margin-right: 70px;
}
nav a
{
    font-size: 1.3em;
    color:  #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color:  #0065FC;
    border-top: 3px solid  #0065FC;
    padding-top: 50px;
}
.select-act
{
    color: grey;
}

/* Recherche */

.titre
{
    margin-left: 50px;
}
.search
{
    display: flex;
    margin-left: 50px;
}
.search .icone-localisation
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    padding: 10px 18px 10px 18px;
    border-radius: 15px 0px 0px 15px;
    font-size: 18px;
}
.search #ville
{
    color: #000000;
    padding: 10px;
    font-size: large;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    font-weight: bold;
}
.search button
{
    background: #0065FC;
    color: white;
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    font-size: large;
}
.search button:hover
{
    color: black;
    cursor: pointer;
}

/* Filtres */

#filtres
{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 1.1em;
    margin-left: 50px;
    margin-top: 20px;
}
#filtres span
{
    margin: 5px;
    font-weight: bold;
    align-items: center;
}
#filtres h2
{
    margin: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}
#filtres ul
{
	display: flex;
}
#filtres ul li
{
    display: flex;
    list-style-type: none;
    margin: 5px;
    border-top: solid #d9d9d9 3px;
    border-right: solid #d9d9d9 3px;
    border-bottom: solid #d9d9d9 3px;
    margin-bottom: 20px;
    border-radius: 10em;
}
.economique
{
    width: 230px;
}
.familial
{
    width: 230px;
}
.romantique
{
    width: 230px;
}
.animaux
{
    width: 265px;
}

/* Logo Filtres */

#filtres ul li i
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DEEBFF;
    border-radius: 10em;
    color: #0065FC;
    border: #0065FC;
    width: 45%;
    height: 3.5em;
}
#filtres li .animaux
{
width: 15em;
}
#filtres ul li span
{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%; 
}
.fas.fa-info
{
    display: inline-block;
    border: solid;
    width: 10px;
    height: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-right: 5px;
    border-radius: 50%;
    color: #0065FC;
    border-color: #F2F2F2;
    margin-left: 50px;
    margin-right: 10px;
}

/* Images + Corps + Etoiles */

/* Etoiles */

.fas.fa-star.bleu
{
    color: blue;
}
.fas.fa-star.gris
{
    color: #C0C0C0;
}

/* Hébergements + Populaires */

#hebergements-populaires
{
    display: grid;
    grid-template-columns: 980px 520px;
    gap: 0px 40px;
    margin-left: 50px;
    grid-template-areas:
    "hebergements populaires";
}
.hebergements { grid-area: hebergements; }
.populaires { grid-area: populaires; }

/* Hébergements à Marseille */

.Hebergements
{
   background: #F2F2F2;
   padding: 30px;
   border-radius: 20px;
   margin-bottom: 66px;
   padding-right: 40px;
   padding-left: 40px;
   margin-top: 40px;
   margin-left: 25px;
}
.Hebergements .contenu-heb
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   border-radius: 20px;
   padding-top: 20px;
}
.Hebergements .contenu-heb article
{
   background: white;
   margin-bottom: 30px;
   padding: 5px;
   border-radius: 20px 20px 20px 20px;
   width: calc(33% - 30px);
}
.Hebergements .contenu-heb article img
{
   width: 265px;
   height: 120px;
   object-fit: cover;
   border-radius: 20px 20px 0px 0px;
   padding-right: 10px;
}
.Hebergements .contenu-heb article .contenu-star
{
    padding: 15px;
}
.Hebergements .contenu-heb article .contenu-star p
{
    margin: 10px;
}
.Hebergements .contenu-heb article .contenu-star .star
{
    padding-left: 10px;
}

/* Les plus populaires */

.Populaires
{
    background: #F2F2F2;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;
    margin-bottom: 66px;
    margin-top: 40px;
    margin-left: 10px;
}
.Populaires .logo-pop
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Populaires .contenu-pop
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-top: 20px;
}
.Populaires .contenu-pop article
{
    background: white;
    margin-bottom: 40px;
    margin-left: 6px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 410px;
    height: 160px;
    border-radius: 20px 20px 20px 20px;
}
 .Populaires .contenu-pop article img
{
    width: 170px;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    float: left;
    margin: 0px 20px 0px 0px;
}
.Populaires .contenu-pop article
{
    font-size: 1.1em;
}
.Populaires .fas.fa-chart-line
{
    display: flex;
    justify-content: flex-end;
    font-size: xx-large;
}

/* Activités à Marseille */

.Activites .contenu-act
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin: 40px;
    align-items: center;
}
.Activites .contenu-act .vieux_port, .Activites .contenu-act .parc_calanques
{
   background: #F2F2F2;
   margin-bottom: 30px;
   border-radius: 20px 20px 20px 20px;
   height: 505px;
   box-shadow: 3px 3px 3px #0000002e;
}
.Activites h2
{
    margin-left: 70px;
}
.Activites .contenu-act p
{
    padding-left: 20px;
}
.Activites .contenu-act .vieux_port, .Activites .contenu-act .parc_calanques
{
    box-shadow: 0 0 20px #0000002e;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
    width: 300px;
    height: 450px;
}
.vieux_port img, .parc_calanques img
{
    width: 300px;
    height: 390px;
    margin-top: 0%;
    margin-left: 0px;
    margin-right:0px;
    border-radius: 15px 15px 0 0;
}

.Activites .contenu-act .fort_pomegues
{
   background: #F2F2F2;
   margin-bottom: 40px;
   border-radius: 20px 20px 20px 20px;
   height: 225px;
   box-shadow: 0 0 15px #0000002e;
}
.fort_pomegues img
{
    width: 300px;
    height: 170px;
    margin-top: 0%;
    margin-left: 0px;
    margin-right:0px;
    border-radius: 15px 15px 0 0;
}
.Activites .contenu-act .iles_frioul
{
   background: #F2F2F2;
   margin-bottom: 20px;
   margin-top: 50px;
   border-radius: 20px 20px 20px 20px;
   height: 195px;
   box-shadow: 0 0 15px #0000002e;
}
.iles_frioul img
{
    width: 300px;
    height: 140px;
    margin-top: 0%;
    margin-left: 0px;
    margin-right:0px;
    border-radius: 15px 15px 0 0;
}
.Activites .contenu-act .notre_dame
{
   background: #F2F2F2;
   margin-bottom: 50px;
   border-radius: 20px 20px 20px 20px;
   height: 205px;
   box-shadow: 0 0 15px #0000002e;
}
.notre_dame img
{
    width: 300px;
    height: 140px;
    margin-top: 0%;
    margin-left: 0px;
    margin-right:0px;
    border-radius: 15px 15px 0 0;
}
.Activites .contenu-act .parc_longchamp
{
   background: #F2F2F2;
   margin-top: 50px;
   margin-bottom: 20px;
   border-radius: 20px 20px 20px 20px;
   height: 215px;
   box-shadow: 0 0 15px #0000002e;
}
.parc_longchamp img
{
    width: 300px;
    height: 150px;
    margin-top: 0%;
    margin-left: 0px;
    margin-right:0px;
    border-radius: 15px 15px 0 0;
}

/* Footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    padding: 50px;
    margin-top: 60px;
}
footer h3
{
    font-weight: bold;
    margin-bottom: 5px;
}
.a_propos , .nos_hebergements, .assistance
{
    width: 33%;
}
.a_propos li, .nos_hebergements li, .assistance li
{
   list-style-type: none;
   margin-top: 20px;
}
h3
{
    padding-left: 40px;
}

/* Media Queries */

@media screen and (max-width: 800px)
{
    #hebergements-populaires
    {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    border-left: none;
    margin-left: 0px;
    }    
}

/* Navigation */

@media screen and (max-width: 800px)
{
    header 
    {
    display: flex;
    flex-wrap: wrap;
    }
    #logo
    {
    padding: 0px;
    margin: 0;
    position: absolute;
    bottom: 20;
    }
    #logo img
    {
    margin-left: 50px;
    height: 4.5em;
    }
    nav ul 
    {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    padding: 10px;
    font-size: 1.4em;
    }
    nav li 
    {
    padding: 0;
    text-align: center;
    }
    nav li a:hover
    {
    border-top: transparent;
    }
    .select-heb
    {
    border-bottom: 3px solid #f2f2f2;
    }
    .select-heb:hover
    {
    border-bottom: 3px solid #0065fc;
    }
    .select-act
    {
    border-bottom: 3px solid #f2f2f2;
    }
    .select-act:hover
    {
    border-bottom: 3px solid #0065fc;
    }
    .select-ins
    {
    position: relative;
    bottom: 40px;
    left: 50px;
    }
}

/* Recherche */

@media screen and (max-width: 800px)
{
    .search, .titre
    {
    flex-wrap: wrap;
    margin-left: 3em;
    font-weight: bold;
    padding-top: 15px;
    }
    .search button
    {
    opacity: 0;
    padding-left: 0px;
    padding-right: 0px;
    }
    .search .icone-loupe
    {
    position: relative;
    right: 100px;
    background: #0065FC;
    color: white;
    padding: 15px;
    border-radius: 15px 15px 15px 15px;
    font-size: large;
    }
    .search .icone-loupe
    {
    cursor: pointer;
    }
}
@media screen and (min-width: 800px)
{
    .search .icone-loupe
    {
    opacity: 0;
    }
}

/* Filtres */

@media screen and (max-width: 800px)
{
    #filtres
    {
    display: flex;
    flex-direction: column;    
    }
    #filtres h2
    {
    padding-right: 17em;
    }
    #filtres ul
    {
    display: flex;
    flex-wrap: wrap;
    padding-right: 17em;
    }
    .info
    {
    display: flex;
    justify-content: center;
    margin-right: 35px;
    }
    .info span
    {
    padding-left: 15px;
    margin-right: 35px;
    }
    .familial
    {
    position: absolute;
    right: 25px;
    }
}

/* Hébergements à Marseille */

@media screen and (max-width: 800px)
{
    .Hebergements 
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-left: -1.9em;
        padding-top: 2em;
        margin-bottom: auto;
    } 
    .Hebergements .contenu-heb
    {
        display: flex;
        flex-direction: column;
    }
    .Hebergements .contenu-heb article
    {
        margin-bottom: 40px;
        border-radius: 20px 20px 20px 20px;
        width: 500px;
        height: 240px;
        box-shadow: 0px 0px 15px 0px #0000002e;
    }
    .Hebergements .contenu-heb article img
    {
        width: 500px;
        height: 130px;
    }
}
    
/* Les plus populaires */

@media screen and (max-width: 800px)
{
    .Populaires
    {
        position: relative;
        right: 15px;
        width: 460px;
        display: flex;
        flex-direction: column;
        border-radius: 0%;
        margin-bottom: auto;
    }
    .Populaires .contenu-pop article
    {
        padding-left: 20px;
        padding-right: 65px;
        margin-right: 0;
        margin-left: 0;
        position: relative;
        right: 20px;
    }
    .Populaires .contenu-pop article img
    {
        width: 180px;
        position: relative;
        right: 15px;
    }
    .Populaires .contenu-pop article p
    {
        padding: 2px;
    }
    .Populaires .contenu-pop article .star
    {
        padding-top: 18px;
    }

}

/* Activités à Marseille */

@media screen and (max-width: 800px)
{
    .Activites h2
    {
        margin-left: 150px;
    }
    .Activites .contenu-act .vieux_port, .Activites .contenu-act .parc_calanques
    {
       width: 530px;
       height: 190px;
       margin-top: 1em;
    }
    .vieux_port img, .parc_calanques img
    {
       width: 530px;
       height: 150px;
    }
    .Activites .contenu-act .fort_pomegues
    {
        width: 530px;
        height: 210px;
        margin-top: 1em;
    }
    .fort_pomegues img
    {
        width: 530px;
        height: 150px;
    }
    .Activites .contenu-act .iles_frioul
    {
        width: 530px;
        height: 210px;
        margin-top: 1em;
    }
    .iles_frioul img
    {
       width: 530px;
       height: 150px;
    }
    .Activites .contenu-act .notre_dame
    {
        width: 530px;
        height: 210px;
        margin-top: 1em;
    }
    .notre_dame img
    {
        width: 530px;
        height: 150px;
    }
    .Activites .contenu-act .parc_longchamp
    {
        width: 530px;
        height: 210px;
        margin-top: -0.6em;
    }
    .parc_longchamp img
    {
        width: 530px;
        height: 150px;
    }
}

/* Footer */

@media screen and (max-width: 800px)
{
    footer
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        right: 70px;
    }
    .a_propos , .nos_hebergements, .assistance
    {
        width: 43%;
    }
}








